body{
  border-color: black;
  border-width: 2px;
  border-radius: 15px;
  height: 100%;
  width: 100%;
}
.P1{
  background-color: red;
}

.P2{
  background-color: blue;
}

#scoreDisplay{
  width: auto;
  border-color: black;
  border-width: 5px;
  border-radius: 15px;
  height: auto;
  margin: auto;
}

#Player1{
  float: left;
  height: 100%;
  width: 50%;
  background-color: red;
  text-align: center;
}

#Player2{
  float: right;
  height: 100%;
  width: 50%;
  background-color: blue;
  text-align: center;
}

#P1Score, #P2Score {
  font-family: sans-serif;
  color: black;
  vertical-align: center;
  margin: 0 auto;
  font-size: 480px;
  text-align: center;
}

#P1Text, #P2Text{
  font-family: serif;
  font-size: 36px;
  color: black;
  text-align: center;
}

h1{
  text-align: center;
  margin: 0 auto;
  font-family: sans-serif;
  font-size: 36px;
}
