body{
  border-color: black;
  border-width: 2px;
  border-radius: 15px;
  height: 100%;
  width: 100%;
}
.P1{
  background-color: red;
}

.P2{
  background-color: blue;
}

.spacer{
  width: 33%;
}

#leftSpacer{
  height: 100%;
  width: 16.5%;
  float: left;
  background-color: red;
}

#rightSpacer{
  height: 100%;
  width: 16.5%;
  float: right;
  background-color: blue;
}

#leftCenterSpacer{
  height: 100%;
  width: 16.5%;
  float: right;
  background-color: red;
}

#righttCenterSpacer{
  height: 100%;
  width: 16.5%;
  float: left;
  background-color: blue;
}

#Player1{
  height: 100%;
  width: 16.5%;
  background-color: red;
}

#Player2{
  height: 100%;
  width: 16.5%;
  background-color: blue;
}

#P1Score, #P2Score {
  float: center;
  font-family: sans-serif;
  color: black;
  vertical-align: center;
  margin: 0 auto;
  font-size: 480px;
}

#P1Text, #P2Text{
  font-family: serif;
  font-size: 18px;
  float: center;
  color: black;
}

h1{
  float:center;
  margin: 0 auto;
  font-family: sans-serif;
  font-size: 36px;
}
