body{
  border-color: black;
  border-width: 2px;
  border-radius: 15px;
  height: 100%;
  width: 100%;
}

#Player1{
  float: left;
  height: 100%;
  width: 50%;
  background-color: red;
}

#Player2{
  float: right;
  height: 100%;
  width: 50%;
  background-color: blue;
}

#P1Score, #P2Score {
  float: center;
  font-family: sans-serif;
  color: black;
  vertical-align: center;
  margin: 0 auto;
  font-size: 480px;
}

#P1Text, #P2Text{
  font-family: serif;
  float: center;
  color: black;
}

h1{
  float:center;
  margin: 0 auto;
  font-family: sans-serif;
  font-size: 36px;
}
